{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    Список рахунків
{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/account/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu/burger_menu.css' %}">
{% endblock %}

{% block page_scripts %}
    <script src="{% static 'js/burger_menu.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="header_menu flex">
        <div class="header_menu_container block_container_big flex">
            <a href="{% url 'index' %}" class="header_button flex hover_item block_container_big">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <a href="{% url 'list_accounts' %}" class="header_button flex hover_item block_container_big">
                <i class="fa-solid fa-rotate-right"></i>
            </a>
            <a href="{% url 'index' %}" class="header_button flex hover_item block_container_big">
                <i class="fa-solid fa-house"></i>
            </a>
            <div class="dropdown">
                <button class="dropdown_button hover_item header_button block_container_big " onclick="openTable('menu')">
                    <i class="fa-solid fa-dollar-sign"></i>
                </button>
                <div id="menu" class="dropdown_content block_container_big title_style">
                    <a href="#">USD до UAH: 37.04</a>
                    <a href="#">EUR до UAH: 40.00</a>
                    <a href="javascript:void(0)" onclick="closeTable('menu')" class="closebtn flex closebtn_menu">&times;</a>
                </div>
            </div>

            <button class="openbtn flex hover_item header_button block_container_big" onclick="openNav('sidenavLeft')">
                <li class="list_item title_style flex_block_row">
                    <i class="fa-solid fa-magnifying-glass"></i>                
                </li>
            </button>
        </div>
    </div>

    <div id="sidenavLeft" class="sidenav right">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('sidenavLeft')">&times;</a>
        <h1 class="header_style">Пошук рахунку</h1>
        <form method="get" action="{% url 'list_accounts' %}" class="search_form flex">
            <div class="search_field field_sidebar_item text_style">{{ form.card_number }}</div>
            <button type="submit" class="sidebar_item title_style">
                <i class="fa-solid fa-search"></i> Пошук
            </button>
        </form>
    </div>

    <div class="page">
        <header class="header_main_list flex">
            <div class="header_style block_container_big">
                <h1>Всі рахунки</h1>
            </div>
        </header>

        <div class="list_accounts margin_top_block flex">
            <ul class="list_items flex">
                {% for data in account_data_list %}
                    <a href="{% url 'account' person_id=data.person.id account_id=data.account.id %}" class="link_item_full">                        
                        <li class="list_item_double title_style hover_item block_container_big flex">
                            <div class="person_part flex">
                                <h1 class="block_container_small title_style">Особа</h1>
                                <div class="data_name">{{ data.person.first_name }} {{ data.person.last_name }} {{ data.person.middle_name }}</div>
                                <div class="data_code">{{ data.person.itn }}</div>
                            </div> 
                            
                            <div class="account_part flex">
                                <h1 class="block_container_small title_style">Рахунок</h1>
                                <div class="data_cardnumber">{{ data.account.card_number }}</div>
                                <div class="data_cardtype">{{ data.account.card_type }}</div>
                                <div class="data_money flex">
                                    <div class="data_amountmoney">{{ data.account.amount_money|floatformat:2 }}</div>
                                    <div class="data_currency">{{ data.account.currency }}</div>
                                </div>
                            </div>
                        </li>
                    </a>
                {% empty %}
                    <li class="link_item header_style block_container_big flex">
                        <div class="operation_header">Список пустий</div>
                    </li>             
                {% endfor %}
            </ul>  
        </div>
    </div>
{% endblock %}